<% include partials/header.ejs %>
	<% if (message.length>3) { %>
		<script>
		alert("<%=message%>");
		</script>
	<% } %>
	<br><br>
	<form action="/login" class="container" method="POST">
		<br>
		<h1>Login Form <i class="fa fa-sign-in"></i></h1>
		<div class="form-row">
			<div class="form-group col-md-5">
				<label for="exampleInputEmail1">Email</label>
				<input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email" required>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-5">
				<label for="exampleInputPassword1">Password </label>
				<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Your password" required>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<button type="submit" class="btn btn-info">Login</button>
			</div>			
		</div>
	<br>
	</form>
<% include partials/footer.ejs %>
<!-- 	<h1>Login Form</h1>
		<form action="/login" method="POST">
			<input type="text" name="email" placeholder="example@gmail.com" >
			<input type="password" name="password" placeholder="Password" >
			<input type="submit">
</form> -->