<% include partials/header.ejs %>
<br>
<form action="/items" class="container"  method="POST">
	<br>
	<h1 class="form-group col-md-8"> Add your item here!</h1>
	<div class="form-group col-md-6">
		<label>Item Name</label>
		<input class="form-control" type="text" name="name" placeholder="Your itemname">
	</div>
	<div class="form-group col-md-6">
	    <label for="decsription">Decsription</label>
	    <textarea class="form-control" id="decsription" name="description" rows="3" placeholder="Describe your item details"></textarea>
	</div>
	<div class="form-group col-md-6">
	    <label for="WhereTo">Where To?</label>
	    <textarea class="form-control" id="WhereTo" name="to" rows="2" placeholder="Provide description details"></textarea>
	</div>
	<div class="form-group col-md-6">
	    <label for="From">From</label>
	    <textarea class="form-control" id="From" name="from" rows="2" placeholder="Provide your pickup address details"></textarea>
	</div>
	<div class="form-group col-md-6">
		<label>Item type</label>
		<input class="form-control" type="text" name="type" placeholder="Item Type">
	</div>
	<div class="form-group col-md-4">
		<button class="btn btn-success active"> Add item </button>
		<a class="text-dark form-group col-md-6" href="/items"> <small>Go Back</small></a>
	</div>		
</form>
<% include partials/footer.ejs %>